@media only screen and (min-width: 450px) and (max-width: 699px) {
  body .text {
    font-size: 60px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 449px) {
  body .text {
    font-size: 50px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 448px) {
  body .header {
    height: 150px;
  }

  body .text {
    font-size: 40px;
  }

  body .border {
    height: 200px;
    width: 180px;
  }

  body .digits {
    font-size: 30px;
  }

  body .start-btn {
    font-size: 20px;
  }

  body .pause-btn {
    font-size: 20px;
  }

  body .reset-btn {
    font-size: 20px;
  }
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
}

.header {
  margin: 40px;
  background-image: url(https://imgur.com/no4dcGX.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 300px;
  opacity: 0.8;
  box-shadow: 0 0 8px 8px white inset;
}

.text {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.border {
  border: solid rgb(70, 69, 69);
  height: 200px;
  margin: 20px;
  box-shadow: 1px 6px 15px 9px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 1px 6px 15px 9px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 1px 6px 15px 9px rgba(0, 0, 0, 0.38);
}

.digits {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
}

.start-btn {
  font-size: 25px;
  background-color: lightgreen;
  border-radius: 25%;
  margin: 10px;
}
.pause-btn {
  font-size: 25px;
  background-color: rgb(231, 231, 135);
  border-radius: 25%;
  margin: 10px;
}
.reset-btn {
  font-size: 25px;
  background-color: rgb(238, 86, 86);
  border-radius: 25%;
  margin: 10px;
}
